<a href="https://colab.research.google.com/github/andrew3690/F-A_root_project/blob/Brazil/Data_Formating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyarrow
! pip install fastparquet

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in /home/andrel/.local/lib/python3.10/site-packages (12.0.1)
Requirement already satisfied: numpy>=1.16.6 in /home/andrel/.local/lib/python3.10/site-packages (from pyarrow) (1.25.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: fastparquet in /home/andrel/.local/lib/python3.10/site-packages (2023.4.0)
Requirement already satisfied: packaging in /home/andrel/.local/lib/python3.10/site-packages (from fastparquet) (23.1)
Requirement already satisfied: cramjam>=2.3 in /home/andrel/.local/lib/python3.10/site-packages (from fastparquet) (2.6.2)
Requirement already satisfied: fsspec in /home/andrel/.local/lib/python3.10/site-packages (from fastparquet) (2023.6.0)
Requirement already satisfied: numpy>=1.20.3 in /home/andrel/.local/lib/python3.10/site-packages (from fastparquet) (1.25.0)
Requirement already satisfied: pandas>=1.5.0 in /home/andrel/.local/lib/python3.10/site-packages (from fastparquet) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/andrel/.local/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/andrel/.local/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=1.5.0->fastparquet) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)

In [2]:
import pandas as pd

Gooogle Colab Version

In [4]:
""" 
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
 """

" \nfrom google.colab import drive\ndrive.mount('/content/gdrive', force_remount=True)\n "

Local Machine Version

In [8]:
data  = pd.read_parquet(r"../RAW_DATA/Parquet/Historical_price_data.parquet")

In [14]:
data.columns

Index(['open', 'high', 'low', 'close', 'volume', 'adjclose', 'dividends',
       'splits'],
      dtype='object')

In [19]:
data = data.drop(['dividends', 'splits','adjclose'], axis=1)

In [20]:
data.rename(
    columns = {
        'date':'Data',
        'open':'Abertura',
        'high':'Alta',
        'low': 'Baixa',
        'volume':'Volume'
    }, 
    inplace = True
)

In [21]:
data

                      Abertura       Alta      Baixa      close     Volume
symbol   date
ZAMP3.SA 2022-07-04   5.700000   5.740000   5.610000   5.630000   800900.0
         2022-07-05   5.600000   5.810000   5.450000   5.810000  2219100.0
         2022-07-06   5.800000   5.970000   5.710000   5.880000  1151300.0
         2022-07-07   5.960000   6.170000   5.910000   5.990000  1614300.0
         2022-07-08   6.040000   6.130000   5.870000   5.950000   528600.0
...                        ...        ...        ...        ...        ...
CMIG3.SA 2023-06-27  18.580000  18.879999  18.410000  18.770000   253200.0
         2023-06-28  18.840000  19.170000  18.480000  18.830000   417600.0
         2023-06-29  18.830000  19.440001  18.830000  19.230000   254000.0
         2023-06-30  19.309999  19.650000  19.240000  19.320000   689000.0
         2023-07-04  18.959999  18.959999  18.440001  18.440001   143200.0

[78147 rows x 5 columns]

In [22]:
data.to_parquet(path=r'../Final/Parquet/HistoricalPrincing.parquet')