<a href="https://colab.research.google.com/github/andrew3690/F-A_root_project/blob/Brazil/C%C3%B3pia_de_Research_Stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Downloading Modules:
Spark, pyspark, Java.

Bellow it is the old fashion way, risky not Recomended

In [159]:
""" 
# # Installing Java
! apt-get install openjdk-8-jdk-headless -qq > /dev/null
# # Dowload Spark
! wget -q https://archive.apache.org/dist/spark/spark-3.2.1/spark-3.2.1-bin-hadoop2.7.tgz
# # Decompressing archives
! tar xf spark-3.2.1-bin-hadoop2.7.tgz
# # installing findspark
! pip install -q findspark
# # installing pyspark
! pip install pyspark==3.2.1
 """

' \n# # Installing Java\n! apt-get install openjdk-8-jdk-headless -qq > /dev/null\n# # Dowload Spark\n! wget -q https://archive.apache.org/dist/spark/spark-3.2.1/spark-3.2.1-bin-hadoop2.7.tgz\n# # Decompressing archives\n! tar xf spark-3.2.1-bin-hadoop2.7.tgz\n# # installing findspark\n! pip install -q findspark\n# # installing pyspark\n! pip install pyspark==3.2.1\n '

In [160]:
""" 
# Importing os library
import os
# # Java envirorment variable
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# # Spark envirorment variable
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"
 """

' \n# Importing os library\nimport os\n# # Java envirorment variable\nos.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"\n# # Spark envirorment variable\nos.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"\n '

# Better and consistent library that makes the same function as the code above

In [161]:
! pip install pyspark py4j
! pip install pyodbc

Requirement already satisfied: pyspark in c:\users\video\appdata\local\programs\python\python311\lib\site-packages (3.2.1)
Requirement already satisfied: py4j in c:\users\video\appdata\local\programs\python\python311\lib\site-packages (0.10.9.3)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyodbc in c:\users\video\appdata\local\programs\python\python311\lib\site-packages (4.0.35)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

**Importing modules and pandas library that will be used later.**

In [162]:
from pyspark.sql import SparkSession
import pyspark
import pandas as pd
import pyodbc
# import findspark

# findspark.init()

In [163]:
# instatianting spark instance
spark = SparkSession.builder.master('local[*]').getOrCreate()

spark

Gooogle Colab Version

In [164]:
""" 
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True) 
"""

" \nfrom google.colab import drive\ndrive.mount('/content/gdrive', force_remount=True) \n"

# Next cells acquire parquet data from remote files, and transpose it to spark format

In [165]:
fille = r"C:/Users/video/Desktop/Projetos/API/F-A_root_project/notebooks/RAW_DATA/Parquet/BrStocksFormated.parquet"

stocks = spark\
        .read.format("parquet")\
        .option("inferSchema", "True")\
        .option("header","True")\
        .parquet(fille)

In [166]:
fille = r"C:/Users/video/Desktop/Projetos/API/F-A_root_project/notebooks/RAW_DATA/Parquet/Ebit.parquet"

ebit = spark\
        .read.format("parquet")\
        .option("inferSchema", "True")\
        .option("header","True")\
        .parquet(fille)

In [167]:
fille = r"C:/Users/video/Desktop/Projetos/API/F-A_root_project/notebooks/RAW_DATA/Parquet/Stat.parquet"

stat = spark\
        .read.format("parquet")\
        .option("inferSchema", "True")\
        .option("header","True")\
        .parquet(fille)

In [168]:
fille = r"C:/Users/video/Desktop/Projetos/API/F-A_root_project/notebooks/RAW_DATA/Parquet/Price.parquet"

price = spark\
        .read.format("parquet")\
        .option("inferSchema", "True")\
        .option("header","True")\
        .parquet(fille)

In [169]:
fille =r'C:/Users/video/Desktop/Projetos/API/F-A_root_project/notebooks/RAW_DATA/Parquet/Balance.parquet'

balance = spark\
        .read.format("parquet")\
        .option("inferSchema", "True")\
        .option("header","True")\
        .parquet(fille)

Creating Tables in order to manipulate data in SQL format

In [170]:
# Stocks table
stocks.createOrReplaceTempView("General")
# Ebit table
ebit.createOrReplaceTempView("Ebit")
# Stat table
stat.createOrReplaceTempView("Stat")
# Price table
price.createOrReplaceTempView("Price")
# Balance table
balance.createOrReplaceTempView("Balance")

# Note 1: 
'DetToEquity' must be in percentage, try to get it done here or otherwise in Power Bi

---

# Note 2: 
Find a way to calculate Beta values from 
historical data get it from other sources, but try to calculate it localy (Talk with Felipe, about the period of time that will be used as 'ytd' or montlhy). 

# Fixed:
Beta values could be acquired trough yahoo finance

Listing brazilian companies that will be researched and getting hystorical financial data
filters that our Analyst indicates: Raking companies by: EBIT/EV > 0, ROE > 0, **Daily equity < 1.000.000.000**, revenueGrowth > 0 AND Will be done apart :(5-year-history) and all margins must be postive

In [171]:
# Already called at Calc Table
Gen = spark.sql("""
SELECT * FROM General
WHERE Moeda != 'USD' AND EBITDA != 0 AND ROA != 0 AND ROE != 0;
""").createOrReplaceTempView("Gen")

In [172]:
#Gen.show()

In [173]:
# Already called at RSCH table
Ebit = spark.sql("""
SELECT * FROM Ebit
where Divida_Liquida != 0;
""").createOrReplaceTempView("Debt")

In [174]:
#Ebit.show()

In [175]:
# Already called at RSCH table
Price = spark.sql("""
SELECT * FROM Price
WHERE valor_de_mercado != 0;
""")#.createOrReplaceTempView("Prices")

In [176]:
Price.show()

+--------+----------------+-----------------+-----------------+
|  Ticker|valor_de_mercado|volume_de_mercado|__index_level_0__|
+--------+----------------+-----------------+-----------------+
|ZAMP3.SA|      1290876288|                0|                0|
|AERI3.SA|       964650304|                0|                3|
|DOTZ3.SA|       113162640|                0|                5|
|MLAS3.SA|      1763443968|                0|                8|
|NINJ3.SA|       134109408|                0|               11|
|MODL3.SA|      1179109888|                0|               14|
|VITT3.SA|      1594519040|                0|               15|
|KRSA3.SA|       874195328|                0|               16|
|ALLD3.SA|       470764032|                0|               23|
|ATMP3.SA|        27776526|                0|               25|
|JSLG3.SA|      1982957056|                0|               27|
|ELMD3.SA|      1802294016|                0|               29|
|OPCT3.SA|       617591488|                0|               31|
|WEST3.SA|       113666680|                0|               32|
|CSED3.SA|      1016417792|                0|               33|
|BMOB3.SA|      1232547456|                0|               34|
|MBLY3.SA|       340768000|                0|               36|
|ESPA3.SA|       433707616|                0|               37|
|NGRD3.SA|       274267648|                0|               40|
|AVLL3.SA|       219868096|                0|               41|
+--------+----------------+-----------------+-----------------+
only showing top 20 rows

Alternative operations, while dealing with a little amount of data, and it can be joined here

In [177]:
Stat = spark.sql("""
SELECT * FROM Stat
WHERE Beta != 0.5;
""")#.createOrReplaceTempView("Stat")

In [178]:
#Stat.show()

In [179]:
CALCULATE = spark.sql("""
SELECT * FROM Gen
WHERE Margem_Bruta > 0.0 AND Margem_EBITIDA > 0.0 AND 
Margem_Operacional > 0.0 AND Margem_liquida > 0.0 AND 
ROE > 0 AND Crescimento_de_Receita_3T > 0;
""")#.createOrReplaceTempView("Calc")

In [180]:
#CALCULATE.show()

In [181]:
RSCH = spark.sql("""
SELECT p.Ticker, 
       p.valor_de_mercado, 
       p.volume_de_mercado, 
       e.EBIT, 
       e.Divida_Liquida 
FROM Price as p, Ebit as e
WHERE (p.valor_de_mercado + e.Divida_Liquida)/e.EBIT > 0.0 AND 
p.Ticker == e.Ticker; 
""")#.createOrReplaceTempView("RSCH")

In [184]:
Balance = spark.sql("""
SELECT  Ticker,
        Data_de_Reporte,
        Moeda,
        Receita_a_Pagar,
        Receitas_a_Receber,
        Bens_de_Capital
FROM Balance
""")

In [185]:
Balance.show()

+---------+-------------------+-----+---------------+------------------+---------------+
|   Ticker|    Data_de_Reporte|Moeda|Receita_a_Pagar|Receitas_a_Receber|Bens_de_Capital|
+---------+-------------------+-----+---------------+------------------+---------------+
|A2MC34.SA|2019-12-30 21:00:00|  USD|        5.433E8|           1.603E8|      1000000.0|
|A2MC34.SA|2020-12-30 21:00:00|  USD|        2.988E8|            2.31E7|      2300000.0|
|A2MC34.SA|2021-12-30 21:00:00|  USD|        3.771E8|            8.54E7|      5100000.0|
| AALR3.SA|2019-12-30 21:00:00|  BRL|        5.667E7|          8.8789E7|      6.12412E8|
| AALR3.SA|2020-12-30 21:00:00|  BRL|       9.4887E7|          7.9679E7|      6.12412E8|
| AALR3.SA|2021-12-30 21:00:00|  BRL|      1.17548E8|         1.04502E8|      6.12412E8|
|AAPL34.SA|2019-09-29 21:00:00|  USD|      4.6236E10|         2.2926E10|      4.5174E10|
|AAPL34.SA|2020-09-29 21:00:00|  USD|      4.2296E10|          1.612E10|      5.0779E10|
|AAPL34.SA|2021-09-29 21:00:00|  USD|      5.4763E10|         2.6278E10|      5.7365E10|
|AAPL34.SA|2022-09-29 21:00:00|  USD|      6.4115E10|         2.8184E10|      6.4849E10|
|ABTT34.SA|2019-12-30 21:00:00|  USD|        3.252E9|           5.425E9|      2.3853E10|
|ABTT34.SA|2020-12-30 21:00:00|  USD|        3.946E9|           6.414E9|      2.4145E10|
|ABTT34.SA|2021-12-30 21:00:00|  USD|        4.408E9|           6.487E9|       2.447E10|
|ABTT34.SA|2022-12-30 21:00:00|  USD|        4.607E9|           6.218E9|      2.4709E10|
| AERI3.SA|2019-12-30 21:00:00|  BRL|      1.16629E8|          9.8532E7|       3.6183E7|
| AERI3.SA|2020-12-30 21:00:00|  BRL|      2.05304E8|         2.20132E8|      8.16047E8|
| AERI3.SA|2021-12-30 21:00:00|  BRL|      4.45286E8|         1.26877E8|      8.15102E8|
| AERI3.SA|2022-12-30 21:00:00|  BRL|      3.36048E8|               0.0|      8.15102E8|
| AESB3.SA|2019-12-30 21:00:00|  BRL|           null|              null|            0.0|
| AESB3.SA|2020-12-30 21:00:00|  BRL|           null|              null|          500.0|
+---------+-------------------+-----+---------------+------------------+---------------+
only showing top 20 rows

In [188]:
calendario = spark.sql("""
SELECT 
    CAST(Data_de_Reporte) AS MIN_DATE
FROM Balance 
""")

In [189]:
calendario.show()

+-------------------+-------------------+
|           MIN_DATE|           MAX_DATE|
+-------------------+-------------------+
|2019-03-30 21:00:00|2023-01-30 21:00:00|
+-------------------+-------------------+

ev = número total de papeis x cotação + divida liquida
ev = market value +  liquid debt 

PSR = PREÇO DA AÇÃO / RECEITA LIQUIDA POR AÇÃO

Pandas setting DataFrame to pandas format:

In [190]:
df_stat = Stat.toPandas()

df_calc = CALCULATE.toPandas()

df_rsc = RSCH.toPandas()

df_balance = Balance.toPandas()

df_calendario = calendario.toPandas()

c:\Users\video\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\sql\pandas\conversion.py:194: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
c:\Users\video\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\sql\pandas\conversion.py:194: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)
c:\Users\video\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\sql\pandas\conversion.py:194: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

In [191]:
df_balance

,Ticker,Data_de_Reporte,Moeda,Receita_a_Pagar,Receitas_a_Receber,Bens_de_Capital
0,A2MC34.SA,2019-12-30 21:00:00,USD,543300000.0,160300000.0,1.000000e+06
1,A2MC34.SA,2020-12-30 21:00:00,USD,298800000.0,23100000.0,2.300000e+06
2,A2MC34.SA,2021-12-30 21:00:00,USD,377100000.0,85400000.0,5.100000e+06
3,AALR3.SA,2019-12-30 21:00:00,BRL,56670000.0,88789000.0,6.124120e+08
4,AALR3.SA,2020-12-30 21:00:00,BRL,94887000.0,79679000.0,6.124120e+08
...,...,...,...,...,...,...
1025,YDUQ3.SA,2020-12-30 21:00:00,BRL,251229000.0,890151000.0,1.139887e+09
1026,YDUQ3.SA,2021-12-30 21:00:00,BRL,183529000.0,957746000.0,1.139887e+09
1027,ZAMP3.SA,2019-12-30 21:00:00,BRL,286432000.0,60361000.0,9.507680e+08
1028,ZAMP3.SA,2020-12-30 21:00:00,BRL,217616000.0,105011000.0,1.461068e+09
1029,ZAMP3.SA,2021-12-30 21:00:00,BRL,247917000.0,139267000.0,1.461068e+09

Excel format tables

In [134]:
""" 
df_stat.to_excel(r"C:/Users/video/Desktop/Projetos/API/F-A_root_project/notebooks/Final/Excel/Stat.xlsx",
                 sheet_name="stat")

df_calc.to_excel(r"C:/Users/video/Desktop/Projetos/API/F-A_root_project/notebooks/Final/Calcl.xlsx",
                 sheet_name="calc")

df_rsc.to_excel(r"C:/Users/video/Desktop/Projetos/API/F-A_root_project/notebooks/Final/RSCH.xlsx",
                sheet_name="research")

df_balance.to_excel(r"C:/Users/video/Desktop/Projetos/API/F-A_root_project/notebooks/Final/Balance.xlsx",
                sheet_name="balance")
"""

In [192]:
df_balance.to_parquet(r"C:/Users/video/Desktop/Projetos/API/F-A_root_project/notebooks/Final/Parquet/Balance.parquet")

df_stat.to_parquet(r"C:/Users/video/Desktop/Projetos/API/F-A_root_project/notebooks/Final/Parquet/Calcl.parquet")

df_rsc.to_parquet(r"C:/Users/video/Desktop/Projetos/API/F-A_root_project/notebooks/Final/Parquet/RSCH.parquet")

df_calc.to_parquet(r"C:/Users/video/Desktop/Projetos/API/F-A_root_project/notebooks/Final/Parquet/Calcl.parquet")

df_calendario.to_parquet(r"C:/Users/video/Desktop/Projetos/API/F-A_root_project/notebooks/Final/Parquet/Calendario.parquet")

Local Connection to SQL Server

In [193]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-7VLQ9AP\SQLEXPRESS;'
                      'Database=FeA;'
                      'Trusted_Connection=yes;'
                      )

cursor = conn.cursor()

In [201]:
str(df_calendario.columns).replace("'","")

'Index([MIN_DATE, MAX_DATE], dtype=object)'

In [212]:
for index, linha in df_calendario.iterrows():
        cursor.execute("Insert into Balance ([MIN_DATE]) values(?)",
                       linha.MIN_DATE)
cursor.commit()

ProgrammingError: ('42S22', "[42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Nome de coluna 'index, MIN_DATE, MAX_DATE' inválido. (207) (SQLExecDirectW); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Existem menos colunas na instrução INSERT do que valores especificados na cláusula VALUES. O número de valores na cláusula VALUES deve corresponder ao número de colunas especificado na instrução INSERT. (110); [42S22] [Microsoft][ODBC SQL Server Driver][SQL Server]Não foi possível preparar uma ou mais instruções. (8180)")

In [213]:
for index, linha in df_calendario.iterrows():
    print(index,linha)

0 MIN_DATE   2019-03-30 21:00:00
MAX_DATE   2023-01-30 21:00:00
Name: 0, dtype: datetime64[ns]

Cloud Version

In [137]:
""" 
server_name = "jdbc:sqlserver://DESKTOP-7VLQ9AP\SQLEXPRESS"
database_name = "FeA"
url = server_name + ";" + "databaseName=" + database_name + ";"

table_name = "Balance"
username = "SQL_ADM"
password = "and010500" # Please specify password here

try:
  df_balance.write \
    .format("com.microsoft.sqlserver.jdbc.spark") \
    .mode("overwrite") \
    .option("url", url) \
    .option("dbtable", table_name) \
    .option("user", username) \
    .option("password", password) \
    .save()

except ValueError as error :
    print("Connector write failed", error)
 """

AttributeError: 'DataFrame' object has no attribute 'write'