<a href="https://colab.research.google.com/github/andrew3690/F-A_root_project/blob/Brazil/Data_Formating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install pyarrow
! pip install fastparquet

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in /home/andrel/.local/lib/python3.10/site-packages (12.0.1)
Requirement already satisfied: numpy>=1.16.6 in /home/andrel/.local/lib/python3.10/site-packages (from pyarrow) (1.25.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: fastparquet in /home/andrel/.local/lib/python3.10/site-packages (2023.4.0)
Requirement already satisfied: cramjam>=2.3 in /home/andrel/.local/lib/python3.10/site-packages (from fastparquet) (2.6.2)
Requirement already satisfied: fsspec in /home/andrel/.local/lib/python3.10/site-packages (from fastparquet) (2023.6.0)
Requirement already satisfied: pandas>=1.5.0 in /home/andrel/.local/lib/python3.10/site-packages (from fastparquet) (2.0.2)
Requirement already satisfied: packaging in /home/andrel/.local/lib/python3.10/site-packages (from fastparquet) (23.1)
Requirement already satisfied: numpy>=1.20.3 in /home/andrel/.local/lib/python3.10/site-packages (from fastparquet) (1.25.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/andrel/.local/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/andrel/.local/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=1.5.0->fastparquet) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)

In [2]:
import pandas as pd

Gooogle Colab Version

In [3]:
""" 
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
 """

" \nfrom google.colab import drive\ndrive.mount('/content/gdrive', force_remount=True)\n "

Local Machine Version

In [4]:
data  = pd.read_excel(r"../RAW_DATA/tst/Price.xlsx")

In [5]:
data

,Unnamed: 0,asOfDate,periodType,currencyCode,EBIT,TotalAssets,TotalDebt
0,0,2020-06-30,12M,BRL,5.396970e+08,2044368000,6.664760e+08
1,1,2021-06-30,12M,BRL,3.268240e+08,3428318000,8.621760e+08
2,2,2022-06-30,12M,BRL,7.053610e+08,3345263000,7.021920e+08
3,3,2019-12-31,12M,BRL,NaN,17021195000,9.615330e+08
4,4,2020-12-31,12M,BRL,NaN,25374422000,7.661930e+08
...,...,...,...,...,...,...,...
1216,1216,2022-12-31,12M,BRL,3.346154e+09,32243550000,8.041697e+09
1217,1217,2019-12-31,12M,BRL,2.305742e+09,21599094000,3.293751e+09
1218,1218,2020-12-31,12M,BRL,4.389012e+09,24592358000,4.535732e+09
1219,1219,2021-12-31,12M,BRL,4.174635e+09,28976739000,7.416547e+09
1220,1220,2022-12-31,12M,BRL,3.346154e+09,32243550000,8.041697e+09