<a href="https://colab.research.google.com/github/andrew3690/F-A_root_project/blob/Brazil/Data_Ac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Installing python libraries that will be use to get data from yahoo finance

In [1]:
! pip install yahooquery
! pip install urllib3==1.26
! pip install requests==2.25
! pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yahooquery in /home/andrel/.local/lib/python3.10/site-packages (2.3.1)
Requirement already satisfied: requests-futures>=1.0.0 in /home/andrel/.local/lib/python3.10/site-packages (from yahooquery) (1.0.1)
Requirement already satisfied: tqdm>=4.54.1 in /home/andrel/.local/lib/python3.10/site-packages (from yahooquery) (4.65.0)
Requirement already satisfied: pandas>=0.24.0 in /home/andrel/.local/lib/python3.10/site-packages (from yahooquery) (2.0.2)
Requirement already satisfied: lxml>=4.9.1 in /home/andrel/.local/lib/python3.10/site-packages (from yahooquery) (4.9.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/andrel/.local/lib/python3.10/site-packages (from pandas>=0.24.0->yahooquery) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/andrel/.local/lib/python3.10/site-packages (from pandas>=0.24.0->yahooquery) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /home/andrel/.local/lib/python3.10/site-packages (from pandas>=0.24.0->yahooquery) (1.25.0)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=0.24.0->yahooquery) (2022.1)
Requirement already satisfied: requests>=1.2.0 in /home/andrel/.local/lib/python3.10/site-packages (from requests-futures>=1.0.0->yahooquery) (2.25.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas>=0.24.0->yahooquery) (1.16.0)
Requirement already satisfied: idna<3,>=2.5 in /home/andrel/.local/lib/python3.10/site-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/andrel/.local/lib/python3.10/site-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (1.26.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/andrel/.local/lib/python3.10/site-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (2020.6.20)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: urllib3==1.26 in /home/andrel/.local/lib/python3.10/site-packages (1.26.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests==2.25 in /home/andrel/.local/lib/python3.10/site-packages (2.25.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests==2.25) (2020.6.20)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/andrel/.local/lib/python3.10/site-packages (from requests==2.25) (1.26.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/andrel/.local/lib/python3.10/site-packages (from requests==2.25) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /home/andrel/.local/lib/python3.10/site-packages (from requests==2.25) (2.10)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /home/andrel/.local/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /home/andrel/.local/lib/python3.10/site-packages (from openpyxl) (1.1.0)

Importing modules that will be used to filter data

In [2]:
from yahooquery import Ticker
from bs4 import BeautifulSoup

import pandas as pd
import requests
import re

Scrapping Data from Infomoney website, getting a list of stocks from IBOVESPA.

In [3]:
url = requests.get('https://www.infomoney.com.br/cotacoes/empresas-b3/')

soup = BeautifulSoup(url.text, 'html.parser')

ticker_name_list = soup.find_all('td', class_ = 'strong')

ticker = str(ticker_name_list)

tickers = re.findall('>.*</',ticker)

tkrs = []

# strnot = ("11","F","34")
for i in tickers:
  if "11" not in i and "F" not in i:
    tkr = i.strip("</>")
    tkr = tkr + ".SA"
    tkrs.append(tkr)

In [4]:
# Yahoo finance requisition getting companies ticker
sumary = Ticker(tkrs)

# getting companies financial data
data = sumary.history(period="1y")

In [11]:
df = pd.DataFrame(data)

In [12]:
df

                                         open       high        low  \
symbol   date
ZAMP3.SA 2022-07-04                  5.700000   5.740000   5.610000
         2022-07-05                  5.600000   5.810000   5.450000
         2022-07-06                  5.800000   5.970000   5.710000
         2022-07-07                  5.960000   6.170000   5.910000
         2022-07-08                  6.040000   6.130000   5.870000
...                                       ...        ...        ...
CMIG3.SA 2023-06-27                 18.580000  18.879999  18.410000
         2023-06-28                 18.840000  19.170000  18.480000
         2023-06-29                 18.830000  19.440001  18.830000
         2023-06-30                 19.309999  19.650000  19.240000
         2023-07-04 14:06:08-03:00  18.959999  18.959999  18.440001

                                        close     volume   adjclose  \
symbol   date
ZAMP3.SA 2022-07-04                  5.630000   800900.0   5.630000
         2022-07-05                  5.810000  2219100.0   5.810000
         2022-07-06                  5.880000  1151300.0   5.880000
         2022-07-07                  5.990000  1614300.0   5.990000
         2022-07-08                  5.950000   528600.0   5.950000
...                                       ...        ...        ...
CMIG3.SA 2023-06-27                 18.770000   253200.0  18.770000
         2023-06-28                 18.830000   417600.0  18.830000
         2023-06-29                 19.230000   254000.0  19.230000
         2023-06-30                 19.320000   689000.0  19.320000
         2023-07-04 14:06:08-03:00  18.440001   143200.0  18.440001

                                    dividends  splits
symbol   date
ZAMP3.SA 2022-07-04                       0.0     0.0
         2022-07-05                       0.0     0.0
         2022-07-06                       0.0     0.0
         2022-07-07                       0.0     0.0
         2022-07-08                       0.0     0.0
...                                       ...     ...
CMIG3.SA 2023-06-27                       0.0     0.0
         2023-06-28                       0.0     0.0
         2023-06-29                       0.0     0.0
         2023-06-30                       0.0     0.0
         2023-07-04 14:06:08-03:00        0.0     0.0

[78147 rows x 8 columns]

Google Drive version

In [8]:
# Exporting Excel file Dataframes
""" 
df.to_excel(excel_writer='/content/drive/MyDrive/Data/XLXS/RAW/AtivosBr.xlsx',
            sheet_name="stocks")

dfbeta.to_excel(excel_writer='/content/drive/MyDrive/Data/XLXS/RAW/Beta.xlsx'
            ,sheet_name="key_stats")

addata.to_excel(excel_writer='/content/drive/MyDrive/Data/XLXS/RAW/Financial.xlsx',
            sheet_name="financial_data")

dfprice.to_excel(excel_writer='/content/drive/MyDrive/Data/XLXS/RAW/Price.xlsx',
            sheet_name="price") 
"""

' \ndf.to_excel(excel_writer=\'/content/drive/MyDrive/Data/XLXS/RAW/AtivosBr.xlsx\',\n            sheet_name="stocks")\n\ndfbeta.to_excel(excel_writer=\'/content/drive/MyDrive/Data/XLXS/RAW/Beta.xlsx\'\n            ,sheet_name="key_stats")\n\naddata.to_excel(excel_writer=\'/content/drive/MyDrive/Data/XLXS/RAW/Financial.xlsx\',\n            sheet_name="financial_data")\n\ndfprice.to_excel(excel_writer=\'/content/drive/MyDrive/Data/XLXS/RAW/Price.xlsx\',\n            sheet_name="price") \n'

Local Machine Version

In [14]:
df.to_parquet(path=r'../RAW_DATA/Parquet/Historical_price_data.parquet')